Django==5.2.7
djangorestframework==3.16.1
drf-spectacular==0.28.0
openai-whisper==20250625
python-dotenv==1.1.1
transformers==4.30.0
TTS>=0.22.0
torch==2.3.0
torchaudio==2.3.0
piper-tts==1.3.0
silero-vad==6.0.0
# Install pyAudioAnalysis from https://github.com/tyiannak/pyAudioAnalysis